<!DOCTYPE html>
<html>
    <head>
        <title>MarkerJs</title>
        <link rel="stylesheet" type="text/css" href="/marker.css" />
        <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.2.min.js"></script>
        <script src="http://ajax.aspnetcdn.com/ajax/knockout/knockout-2.1.0.js"></script>
        <script>
        
            var viewData = @Data;

            function @ViewModelName() {
                this.self = this;

                @ViewModel
            }

            ko.applyBindings(new @ViewModelName());

        </script>
    
    </head>
    <body>
        <h1>You are now in the world of the "Layout"!</h1>
        
        @Render
    </body>
</html>
