

<div>
    <h3 data-bind="text: data.pageTitle"></h3>

    <table>
        <thead>
            <th>Id</th>
            <th>Text</th>
            <th>Url</th>
            <th>Date</th>
        </thead>
        <tbody data-bind="foreach: data.markers">
            <tr>
                <td data-bind="text: id" />
                <td data-bind="text: text" />
                <td><a data-bind="attr: { href: url }, text: text" target="_blank" /></td>
                <td data-bind="text: date" />
            </tr>
        </tbody>
    </table>

</div>
<script>

    function MarkerListViewModel() {
        this.self = this;
        
        self.data = viewData;
    }
    
    ko.applyBindings(new MarkerListViewModel());
</script>