<div>

    The bookmarklet for <span data-bind="text: url"></span>:

    <br />
    <br />
    <a data-bind="attr: {href: mark}">MARK!</a>
    <br />
    <br />
    <a data-bind="attr: {href: show}">SHOW ME!</a>
    <br />
    <br />
    add : <input type="text" data-bind="value: addBklet" /> list : <input type="text" data-bind="value: listBklet" />

</div>

<script>

    function BkletsViewModel() {
        this.self = this;

        self.url = document.location;
        self.addBklet = ko.observable("add.js");
        self.listBklet = ko.observable("marked.js");

        self.mark = ko.computed(function() {
            return "javascript:(function(){document.body.appendChild(document.createElement('script')).src='"
                    + self.url + self.addBklet() + "';})();";
        }, this);

        self.show = ko.computed(function() {
            return "javascript:(function(){document.body.appendChild(document.createElement('script')).src='"
                    + self.url + self.listBklet() + "';})();";
        }, this);
    }

    ko.applyBindings(new BkletsViewModel());

</script>